body {
	font-family: arial, sans-serif;
    color: rgb(255, 238, 0);
	background-color: rgb(41, 34, 34);
	background-size : cover;
    margin: 20mm;
    font: small-caps bold 24px/1 sans-serif;
    

}
.titre{
    display: block;
    font-size: 80px;
    float: center;
    margin: 20mm;
}

.centre{
display: inline-block;
float: center;
width: 40%


}

.photo{
display: block;
float:center;
margin: 20mm;


}

.text-center{
text-align: center;
}
background-color: