
body
{
    background-color: slategray;
    font-family: cursive;
}

/* ------------------------------------------------------------------------------------------------------------- */

        /* BARRE NAV */

.menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:silver;
    border-radius: 16px 20px;
}


.menu li
{
    float: left;
}

.menu li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 25px;
    border-style: outset;
    border-color: seashell;
}

.menu li:hover
{
    background-color:tan;
}


/* ------------------------------------------------------------------------------------------------------------- */

h1
{
    background-color:silver;
    border-left-width: 7px;
    border-left-style: solid;
    border-left-color: darkslategrey;
    padding: 20px;
    border-radius: 16px 20px;
}


.pres
{
    background-color:silver;
    border-style: ridge;
    border-radius: 16px 20px;
    border-left-color: darkslategrey;
    border-left-width: 7px;
    padding: 20px;
}


.pres .lgg
{
    text-align: center;
    border-style:dashed;
    border-radius: 16px 20px;
}

.pres ul
{
    text-decoration: none;
    list-style-type: none;
}