/* structure */

body, html
{
    margin:0;
    padding: 0;
    background-color:black;
    height: 100vh;
    overflow: hidden;
}
*
{
    box-sizing: border-box;
}
/* background image carte */

#fond_3D
{
position: relative;
top: 80%;
left: 40%;
cursor: pointer;
transition: transform .1s;
border: 3px solid blue;
}

/* Personnage */

.sansfond
{
top: 0;
bottom: 0;
margin: auto;
position: absolute;
left: 0;
right: 0;
cursor: pointer;
transition: transform .1s;
width: 100%;
max-width: 1000PX;
min-width: 300PX;
filter: drop-shadow(0 0 0.75rem rgb(20, 130, 220));

}
.sansfond:hover
{
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);

filter: drop-shadow(0 0 0.75rem crimson);
}
/* POP-UP MODAL */
.modaljulien
{
    position:relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;      
    background: url(fond.jpg) no-repeat;
    background-size: cover;
    transition: opacity .4s;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
}
.modaljulien:target
{
visibility: visible;
opacity: 1;
}
/* close Modal position */

.cross
{
    position:absolute;
    top:50px;
    font-size: 40px;
    text-decoration: none;
    color:black;
}
/* INFORMATION PERSONNAGE */

.place
{
    display:flex;
    justify-content: center;
}
.infos
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border:5px solid black;
    text-align: center;
    height: 900px;
    width: 500px;
    padding-right: 20px;
    float: right;
    box-shadow: 10px 5px 5px rgb(19, 20, 20);
    
}
h1
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:  5px inset rgba(241, 245, 0, 0.788);
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 5px;
    

    
    
    
    
}

h2
{
    text-align: center;
}

ul
{
    list-style-type: none;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.nom
{
    font-size: 30px;
    font-style: italic;
    color:rgb(241, 180, 10);
    text-transform: uppercase;
}
p
{
    font-size: 19px;
    color: white;   
}

/* spécialité icon */

.icon
{
    display: inline-block;
    width: 90px;
    filter: drop-shadow(0 0 1rem rgb(254, 250, 249));
    
}


/* responsive */

@media screen and (max-width:600px) {

    .place
    {
        width: 500px;
    }
	
		
}

