body 
{
    margin:0;
    background-image: url("https://cdn.pixabay.com/photo/2016/07/12/19/08/laptop-1512838_960_720.png");
    background-repeat: no-repeat;
    
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
article
{
    border: 5px solid blue;
    border-radius: 5px;
    text-align: center;
}
.camarades
{
    text-align: center;
    border: 5px solid orange;
    background-color: black;
}
header
{
    color:blue;

}
footer
{
    color:black
}
p
{
    color:white;
    font-size:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
}