/* definitions générales */

body {
	font-family: arial, sans-serif;
	background-image:url("../image/fond/fond1.jpg");
	background-size : cover;

}

/* l'entete */

header {
	text-align: center;
	color: blue;
}

/* les titre de texte */

h1 {
	font-family: arial, sans-serif;
	font-size: 2em;

}


h2 {
	font-family: arial, sans-serif;
	font-size: 1em;
	margin: auto;
}

h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
}

/* entete qui contient le titre et le menu*/
.entete {
	list-style: none;
   
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;

}

.titre {
	width: 500px;
    height: 60px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.411);
    padding-bottom: 0px;
    border: 0px black solid;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}


/* le menu   ---------------------------------------------- */

.menu {
	list-style: none;
   
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;

}

.box {
	width: 180px;
    height: 40px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.411);
    padding-bottom: 0px;
    border: 0px black solid;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
}

.box:hover {
    box-shadow: 0 14px 28px rgb(255, 0, 0), 0 10px 10px rgb(255, 0, 0);
    transition: 0.3s;
}



/* les cartes --------------------------------------------------------------------------------- */
/* debut des containers ----------------------------------------------------------------------------------------------- */
/* definition du container flexbox -----------------------------------------------------------------------------------------------------*/

.container {
    width: 100%;
    align: center;
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

/* defininition du contenu format général des cartes ---------------------------------------------------------------------------------------------------------------*/

.placecard {
    width: 200px;
	height: 260px;
    margin: 5px;
    background: white;
    padding-bottom: 0px;
    border: 1px yellow solid;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}

/* Effet de zoom dans la partie cards html------------------------------------------------------------------------------------------------------------------------------*/	
.transfo:hover
	{
			
		transform:scale(1.15);
		transition:transform 0.4s ease-out;
		
	}
	
/* FIN------------------*/


}
.placecard:hover {
    box-shadow: 0 14px 28px rgb(255, 0, 0), 0 10px 10px rgb(255, 0, 0);
    transition: 0.3s;
}

.placecard img {
	cursor:pointer;
	width: 100%;
}


/* fin des cartes --------------------------------------------------------------------------------- */

footer {
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.411);
	color: blue;
	text-align: center;
	padding: 15px;
}


@media screen and (max-width:500px) {
	.placecard {
		width: 100px;
		height: 130px;
		margin: 5px;
		background: white;
		padding-bottom: 0px;
		border: 0px black solid;
		border-radius: 4px 4px 4px 4px;
		overflow: hidden;
}
.placecard:hover {
    box-shadow: 0 14px 28px rgb(255, 0, 0), 0 10px 10px rgb(255, 0, 0);
    transition: 0.3s;
}

}