.modal{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(77, 77, 77, .7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal:target {
	visibility: visible;
	opacity: 1;
}

/*ici pour modifier la taille de la pop up*/

.modal_content{
	max-width: 700px;
	width: 100%;
	position: relative;
}

/*aisser width a 100% juste moifier lemax*/

.modal_content img{
	max-width: 700px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 3px 3px 20px black;
	position: relative;
}

/*la croix pour fermer la fenetre*/

.modal_close{
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 50px;
	text-decoration: none;
	color: black;
}