/* definitions générales */

body {
	font-family: arial, sans-serif;
	background-color: grey;
	background-size : cover;

}

/* l'entete */

header {
	text-align: center;
	color: blue;
}

/* les titre de texte */

h1 {
	font-family: arial, sans-serif;
	font-size: 3em;
    text-align: center;
    color: silver;
    margin: 20px;

}

a{
	text-decoration: none;
	color: silver;
	font-size: 2.5em;
	text-align: center;
	font-family: arial, sans-serif;
}


p {
	font-family: arial, sans-serif;
	font-size: 1.5em;
    text-align: justify;
    color: silver;
	margin: 20px;
}

/* les cartes --------------------------------------------------------------------------------- */
/* debut des containers ----------------------------------------------------------------------------------------------- */
/* definition du container flexbox -----------------------------------------------------------------------------------------------------*/

.container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

/* defininition du contenu format général des cartes ---------------------------------------------------------------------------------------------------------------*/

.placecard {
    width: 500px;
	height: 650px;
    margin: 20px;
    background: rgb(0, 0, 0);
    padding-bottom: 0px;
    border: 1px rgb(251, 255, 0) solid;
    border-radius: 20px;
    overflow: hidden;
}

.placecard:hover {
    box-shadow: 0 14px 28px rgb(255, 0, 0), 0 10px 10px rgb(255, 0, 0);
    transition: 0.3s;
}

.placecard img {
	cursor:pointer;
	width: 100%;
}


/* fin des cartes --------------------------------------------------------------------------------- */

footer {
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.411);
	color: blue;
	text-align: center;
	padding: 15px;
}


@media screen and (max-width:500px) {
	.placecard {
		width: 500px;
		height: 650px;
		background: white;
		padding-bottom: 0px;
		border: 0px black solid;
		border-radius: 4px 4px 4px 4px;
		overflow: hidden;
}
.placecard:hover {
    box-shadow: 0 14px 28px rgb(255, 0, 0), 0 10px 10px rgb(255, 0, 0);
    transition: 0.3s;
}

}