body
{
    background-color: black;
    color:blanchedalmond;
    font-family:Arial, Helvetica, sans-serif;
}

h1
{
    text-align: center;
}

p
{
    text-justify: auto;
    max-width: 800px;
}

img
{
    max-height: 250px
}
article
{

    margin: 2rem;
}

#desc
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    align-content: space-around;
}
